body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}

header h1 {
	margin: 0;
}

/*About*/

.about{
    width: 100%;
    height: 100vh;
    padding: 10px 0;
}

.about .about_main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about .about_main .image img{
    width: 620px;
    position: relative;
    top: 60px;
}

.about .about_main .about_text h1 span{
    color: #fac031;
    margin-right: 15px;
    font-family: mv boli;
}

.about .about_main .about_text h1{
    font-size: 55px;
    position: relative;
    bottom: 50px;
}

.about .about_main .about_text h3{
    font-size: 30px;
    margin: 0 0 50px 0;
}

.about .about_main .about_text p{
    width: 650px;
    text-align: justify;
    margin-right: 30px;
    line-height: 22px;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

section {
	margin-bottom: 40px;
}

section h2 {
	margin-top: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

li {
	flex-basis: calc(33.33% - 20px);
	margin-bottom: 20px;
	background-color: #f5f5f5;
	padding: 20px;
	text-align: center;
}

li img {
	border-radius: 50%;
	margin-bottom: 10px;
}

li h3 {
	margin: 0;
}

li p {
	margin: 0;
	color: #999;
}




